* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.container {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 2rem;
}

.post-container {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
  /* gap: 1; */
}
.reply-container {
  background-color: #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  border-left: 2px solid #e7e7e7;
  margin-left: 3rem;
  padding-left: 1rem;
}

.post-reply {
  background-color: #fff;
  width: 90%;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
}
.post {
  position: relative;
}
.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 0;
  padding: 0.75rem 0.5rem;
  background-color: #f4f6f9;
  border-radius: 0.25rem;
  color: #5557b5;
}
.number {
  font-weight: bold;
  margin: 0.5rem 0;
}
.increment,
.decrement {
  color: rgba(55, 57, 170, 0.5);
  font-size: 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.user-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-avatar img {
  width: 25px;
}

.user-avatar h4 {
  margin-left: 0.5rem;
}

.user-avatar small {
  margin-left: 0.5rem;
  color: #b7b7b7;
}

.message {
  color: #b3b3b3;
  padding: 0.5rem 0;
}
.reply,
.edit-delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #5557b5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.reply span,
.edit-delete span {
  font-weight: bolder;
  font-size: 1rem;
  margin-left: 0.3rem;
}

.edit-delete .edit {
  margin-left: 1.5rem;
}

.edit-delete .delete {
  color: orangered;
}

.comment-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: -1.5rem;
}

.comment {
  width: 80%;
  height: 75px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.send,
.user-avatar {
  margin-top: 0.3rem;
}

.send {
  background-color: #5557b5;
  color: #fff;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
}
.send:hover {
  background-color: #2b2a2a;
  color: orange;
}

.post-container,
.reply-container,
.comment-div {
  max-width: 700px;
}
